/* own css
-------------------------------------------------- */




/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.hiddenForm {
	visibility:hidden;	
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* fix alerts on screen*/

.msg {
    position: fixed;
    width: 80%;
}


.flashAlert {
    width: 86%;
    opacity: 0;
    position: fixed;
    
}

.mynav {
    top:50px;
    background-color:#f5f5f5;
    padding-top:12px;
    padding-left:5px;
    padding-right:5px;
    margin:0px;
    z-index:1020;
}

/*  trying to fix menu visibility issues */



/* invoice image classes and settings (fixed pos) */

.invoiceTopMenu {
    position:fixed;
    background-color:#83b2e0 ;
    top:9%;
    width: 100%;
    margin: inherit;
    padding: inherit;
    z-index:1000;

}

.invoiceTop {
    position:fixed;
    top: 8%;
    left:0;
    border-bottom: 1px;
    padding-bottom:0;
    width:100%;
    z-index:1000;
}

.invoiceAddForm {
    position:fixed;
    top: 114px;
    left: 3px;
    padding-top:10px;
    width:18%;
        
}

/* invoice image rotation  */

#image {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
}
#image.rotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
#image.rotate180 {
    transform: rotate(180deg) translate(-100%,-100%);
    -webkit-transform: rotate(180deg) translate(-100%,-100%);
    -ms-transform: rotate(180deg) translateX(-100%,-100%);
}
#image.rotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}

/* invoice image rotation end  */



th {
  text-align: center;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
#wrap .nav > li       {
	color: #C9C9C9;
}
#wrap .nav > li >a:hover         , #wrap .nav > li >a:focus{
	color: #ED0003;
}
#wrap .nav > li >a:active      {
	color: #FFFFFF;
}
#wrap .dropdown-menu a      {
	color: #565656;


}
#wrap .dropdown-menu a:hover {
	color: #FFFFFF;
	background-color: #969696;
}
#wrap .navbar-header a         {
	color: #FFFFFF;
}
#wrap .navbar-header a:hover {
	color: #000000;
}
#wrap .navbar-brand {
	background-color: #FCFCFC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}

@media (max-width:768px){
    
#wrap .dropdown-menu a {
	color: #999999;
}
#wrap .dropdown-menu a:hover {
	color: #ED0003;
	background-color: hsla(0,0%,100%,0.00);

}



}
